# Hexadecimal numbers

In [2]:
hex(10)

'0xa'

In [3]:
type(hex(15))

str

# Binary numbers

In [4]:
bin(2)

'0b10'

In [5]:
type(bin(10))

str

# Exponentiation

In [6]:
pow(3,3)

27

In [7]:
#With three arguments it's equivalent to 3**3 % 10, in the example bellow
print(pow(3,3,10))
print((3**3)%10)

#It's for performance reasons
%timeit pow(3,3,10)
%timeit (3**3)%10

7
7
556 ns ± 6.82 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
6.08 ns ± 0.161 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

Damnit... I expected pow() to be faster! Wtf!?

# Absolute value

In [8]:
print(abs(-2))
print(abs(2))

2
2

# Round
The first parameter is the value to be rounded, and the second the ammount of digits after the decimal point. If not informed, it's assumed that the second value is zero, in other words, no decimal digits.

In [9]:
round(13.17)

13

In [10]:
round(13.17,1)

13.2

# Advanced strings

In [11]:
my_str = 'hello world'
print(my_str.capitalize()) #Make first letter of the string capitalized
print(my_str.upper()) #Capitalize all letters in the string
print(my_str.lower()) #Make all letters in the string lower case

Hello world
HELLO WORLD
hello world

In [12]:
print(my_str.count('o')) #How many 'o's in the string
print(my_str.find('o')) #Find the first position of an 'o'

2
4

In [13]:
my_str.center(20,'-') #So cute

'----hello world-----'

In [14]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.istitle())
print(my_str.isidentifier())
#etc...

False
False
False
False

In [15]:
my_str.split(' ')

['hello', 'world']

In [16]:
my_str.partition(' ') #This one also returns the separator, but in a tuple

('hello', ' ', 'world')

# Advanced sets

In [17]:
my_set = {1,2,3}
my_set.add(4)
my_set

{1, 2, 3, 4}

In [18]:
my_set.clear()
my_set

set()

Checkout what happens when you try to copy a set to another

In [19]:
my_set = {1,2,3}
my_set2 = my_set
my_set2.add(5)
print(my_set)
print(my_set2)

{1, 2, 3, 5}
{1, 2, 3, 5}

It ends up working as a pointer. If you wanna copy the value, you gotta use copy()

In [20]:
my_set = {1,2,3}
my_set2 = my_set.copy()
my_set2.add(5)
print(my_set)
print (my_set2)

{1, 2, 3}
{1, 2, 3, 5}

Wanna check the difference between two sets?

In [21]:
my_set2.difference(my_set)

{5}

In [22]:
my_set.difference(my_set2)

set()

In [23]:
my_set.add(4)

In [24]:
my_set.difference(my_set2)

{4}

Wanna remove a set from another!? use difference_update()

In [25]:
set1 = {1,2,3,4}
set2 = {1,2,6,9}
set1.difference_update(set2) #Removes from set1 what's in set2
set1

{3, 4}

Wanna delete something from a set, in case it exists!?

In [26]:
set_a = {'a','b','c'}
set_a.discard('b')
set_a

{'a', 'c'}

Wanna know which elements exist in two tuples!?

In [27]:
set1 = {1,2,3,4}
set2 = {6,5,4,3}
set1.intersection(set2)

{3, 4}

intersection_update() does the same, but it puts the return into the set invoking the method

In [28]:
set1.intersection_update(set2)
set1

{3, 4}

Wanna now if a set is copletely different than another one?

In [29]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = {5,6,7}
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

False
True

Wanna know if a set is completely in another set?!

In [30]:
set1 = {1,2}
set2 = {1,2,3}
print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

And next we have something that works kinda like difference(), but it goes both ways

In [31]:
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))

{3}
{3}

Wanna join together two sets?

In [32]:
set1 = {1,2,3}
set2 = {7,8,9}
set1.union(set2)

{1, 2, 3, 7, 8, 9}

update() is similar to the previous command, but it puts the result into the set that invoked the method

In [33]:
set1.update(set2)
set1

{1, 2, 3, 7, 8, 9}

# Advanced dictionaries

This is how you do dictionary comprehesion

In [34]:
{x:x**2 for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
{k:pow(v,2) for k,v in zip(['a','b','c'], range(1,4))}

{'a': 1, 'b': 4, 'c': 9}

In [48]:
d = {k:v for k,v in zip(['a','b','c'], range(3))}

# Advanced lists

Suppose you want to add the elements of a list into another list

In [49]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.append(l2)
l1

[1, 2, 3, [4, 5, 6]]

Oh... Shit! So, how should you do it?!

In [50]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

Want to inster something in the middle of the list?

In [51]:
l1.insert(2,'banana')
l1

[1, 2, 'banana', 3, 4, 5, 6]

Do you want to remove a certain value from a list and you don't know where it is?!

In [52]:
l1.remove(5) #This only removes the first instance of 5!
l1

[1, 2, 'banana', 3, 4, 6]

Reordering a list:

In [54]:
l1.remove('banana') #Because it can't sort if there' different types of data in the list
l1.sort()
l1

[1, 2, 3, 4, 6]

In [55]:
l1.reverse()
l1

[6, 4, 3, 2, 1]