In [1]:
my_list = [1,'two',3]
my_list

[1, 'two', 3]

In [2]:
my_list.insert(1,2)
my_list

[1, 2, 'two', 3]

In [3]:
my_list.insert(len(my_list),'last position')
my_list

[1, 2, 'two', 3, 'last position']

In [4]:
my_list.insert(len(my_list),'last position')
my_list

[1, 2, 'two', 3, 'last position', 'last position']

As you can see, there can be repeated values

In [8]:
#Sets eliminate repeated values
my_set = set()
type(my_set)

set

In [13]:
my_set.add('Uno')
my_set.add('Dos')
my_set.add(3)
my_set.add('Dos')
my_set.add(3)

my_set

{3, 'Dos', 'Uno'}

In [17]:
#Check this out!
my_list = (10,8,6,4,'two','zero','two',10,4,6)
my_list

(10, 8, 6, 4, 'two', 'zero', 'two', 10, 4, 6)

In [18]:
no_repetion = set(my_list)
no_repetion

{10, 4, 6, 8, 'two', 'zero'}

In [19]:
set('Mississipi')

{'M', 'i', 'p', 's'}

In [22]:
set('Três pratos de trigo para três tigres tristes')

{' ', 'T', 'a', 'd', 'e', 'g', 'i', 'o', 'p', 'r', 's', 't', 'ê'}

In [23]:
set([1,1,2,3])

{1, 2, 3}